@model List<BrookingsIndoorTrainingSystem.Models.ConcessionsModel>

@{
    ViewBag.Title = "ConcessionsMakeSaleView";
}

<div class="form-horizontal">
    <center>
        <div class="form-group">
            <div>
                <h5>@Html.Label("Concessions Make Sale", new { style = "font-size:40px; color:#36e800" })</h5>

                @*@/* green bar - Shelby */*@
                <html>

                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                <body>
                    <div class="w3-container">


                        <div class="w3-bar w3-border w3-gray">
                            <div class="w3-bar-item"></div>

                        </div>

                    </div>
                </body>
            </html>
            @*@/* end green bar - Shelby */*@

        </div>
    </div>
</center>
</div>

@* -------------------- Concessions Storage Chart ---------------------- *@
@using (Html.BeginForm("ConcessionsCartAddItemView", "Home", FormMethod.Post))
{
    <h3>Concessions Storage</h3>

    <table>
        <tr>
            <th>Item &nbsp;</th>
            <th>Amount &nbsp;</th>
            <th>Location &nbsp;</th>
            <th>Price &nbsp;</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>

                <td>@Html.ActionLink(item.itemName, "ConcessionsCartAddItemView", "Home", new { itemName = item.itemName, id = item.id, itemPrice = item.itemPrice }, null) &nbsp;</td>
                <td>@item.itemAmount &nbsp;</td>
                <td>@item.itemLoc &nbsp;</td>
                <td>$ @item.itemPrice &nbsp;</td>
            </tr>
        }
    </table>
}
@* -------------------- Concessions Storage Chart ---------------------- *@


@* -------------------- Shopping Cart Button ---------------------- *@
@using (Html.BeginForm("ConcessionsCartView", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div>
                    <input type="submit" value="View Cart" class="button" />
                </div>
            </div>
        </center>
    </div>
}
@* -------------------- Shopping Cart ---------------------- *@








