@* ++++++ INCLUDE MODEL TO CONTECT TO CONTROLLER --John ++++++*@
@model BrookingsIndoorTrainingSystem.Models.ConcessionsModel
@* ++++++ INCLUDE MODEL TO CONTECT TO CONTROLLER --John ++++++*@

@using (Html.BeginForm("ConcessionsAddItemAmount", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <h3 class="left">Edit - @ViewBag.itemName</h3>
                <div class="col-md-10">
                    @*@/* green bar */*@
                    <html>

                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                    <body>
                        <div class="w3-container">


                            <div class="w3-bar w3-border w3-green">
                                <div class="w3-bar-item"></div>

                            </div>

                        </div>
                    </body>
                </html>
                @*@/* end green bar - Shelby */*@
            </div>
            </div>
    </center>
</div>
}

@using (Html.BeginForm("ConcessionsUpdateLocation", "Home", new { itemName = ViewBag.itemName }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div>
                    <input type="submit" value="Move @ViewBag.itemName" class="button" />
                </div>
            </div>
        </center>
    </div>
}

@using (Html.BeginForm("ConcessionsAddItemView", "Home", new { itemName = ViewBag.itemName }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div>
                    <input type="submit" value="Add @ViewBag.itemName" class="button"/>
                </div>
            </div>
        </center>
    </div>
}


@using (Html.BeginForm("ConcessionsRemoveItemView", "Home", new { itemName = ViewBag.itemName }, FormMethod.Post))
{
 @Html.AntiForgeryToken()
     <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div>
                    <input type="submit" value="Remove @ViewBag.itemName" class="button"/>
                    
                </div>
            </div>
        </center>
    </div>
}



@*@/* green button - Shelby */*@


<html>
<head>
    <style>
        .button {
            background-color: #4CAF50; /* Green */
            border: solid;
            border-color: black;
            border-width: thin;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>
<body>


</body>
</html>