@* Added by Alex Zschoche *@
@* ++++++ INCLUDE MODEL TO CONTECT TO CONTROLLER --John ++++++*@
@model BrookingsIndoorTrainingSystem.Models.EquipmentModel
@* ++++++ INCLUDE MODEL TO CONTECT TO CONTROLLER --John ++++++*@

@{ ViewBag.Title = "Equipment remove items"; }
@using System.Data.SqlClient;
@using System.Web;

<!DOCTYPE html>
<html>
<head>
    <title>Customer Form</title>
</head>
<div class="form-horizontal">
    <center>
        <div class="form-group">
            <div class="col-md-10">
                <h5>@Html.Label("Equipment - Remove Item", new { style = "font-size:40px; color:#36e800" })</h5>
                @*@/* green bar - Shelby */*@
                <html>

                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                <body>
                    <div class="w3-container">


                        <div class="w3-bar w3-border w3-gray">
                            <div class="w3-bar-item"></div>



                        </div>

                        @{
                            string item = Request.Form["Items"];
                            int amount = Request.Form["quantity"].AsInt();
                            string Location = Request.Form["Location"];

                            string connectionString = @"Data Source=(localdb)\MSSQLLocalDB; Initial Catalog = BITS_DB; Integrated Security = True; MultipleActiveResultSets = True; Application Name = EntityFramework";
                            //SqlConnection connection = new SqlConnection(connectionString);

                            string queryString = "DELETE from Equipment where name = @item;";
                            // SqlCommand command = new SqlCommand(queryString, connection);


                            using (SqlConnection connection = new SqlConnection(connectionString))
                            {
                                //here is where we connect to the database and perform the SQL command
                               // SqlCommand command = new SqlCommand(queryString, connection);

                                //thesee statements replace the @itemName and @itemAmount in the queryString with their appropriate variables
                               // command.Parameters.Add("@item", System.Data.SqlDbType.VarChar, 50).Value = item;
                                // command.Parameters.Add("@Location", System.Data.SqlDbType.VarChar, 50).Value = Location;
                                // command.Parameters.Add("@Amount", System.Data.SqlDbType.Int).Value = amount;


                                //command.Connection.Open();
                                //command.ExecuteNonQuery();


                                string selectQuery = "Select [Name] from Equipment";
                                SqlCommand command2 = new SqlCommand(selectQuery, connection);
                                //command2.Parameters.Add("@item", System.Data.SqlDbType.VarChar, 50).Value = item;
                                command2.Connection.Open();

                                SqlDataReader reader = command2.ExecuteReader();

                                if (reader.HasRows)
                                {
                                    <div class="form-horizontal">
                                        <form method="post">
                                            <fieldset>
                                                <label for="Items">Select an item from the dropdown and press submit to remove it.</label>
                                                <select id="Items" name="Items">
                                                    @while (reader.Read())
                                                    {
                                                        <option value="@reader.GetString(0)">@reader.GetString(0)</option>
                                                    }
                                                </select>
                                            
                                                <input type="submit" name="removeButton" />
                                            </fieldset>
                                        </form>
                                    </div>
                          
                                }
                                else
                                {
                                    Console.WriteLine("No rows found.");
                                }
                                reader.Close();

                               
                            }

                        }

                        @{
                            if (IsPost)
                            {
                                using (SqlConnection connection = new SqlConnection(connectionString))
                                {
                                    //here is where we connect to the database and perform the SQL comman
                                    SqlCommand command = new SqlCommand(queryString, connection);

                                    //thesee statements replace the @itemName and @itemAmount in the queryString with their appropriate variables
                                    command.Parameters.Add("@item", System.Data.SqlDbType.VarChar, 50).Value = item;


                                    command.Connection.Open();
                                    command.ExecuteNonQuery();
                                    
                                }
                                // string item = Request.Form["Items"];
                                //int amount = Request.Form["quantity"].AsInt();
                                <div class="col-md-10">
                                    <text align="left">
                                        You removed: <br />
                                        Item: @item <br />
                                        Amount: @amount <br />

                                    </text>

                                </div>



                            }
                        }

                    </div>
                </body>
            </html>
            @*@/* end green bar - Shelby */*@

        </div>
    </div>
</center>
</div>

</html>