@{ ViewBag.Title = "Equipment Page"; }

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div class="col-md-10">
                    <h5>@Html.Label("Equipment Manager", new { style = "font-size:40px; color:##36e800" })</h5>
                </div>
            </div>
        </center>
    </div>

    <hr />

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div class="col-md-10">
                    <font size="4" face="helvetica" color="black">
                        <div>This is the Equipment Manager Page</div>
                    </font>
                </div>
            </div>
        </center>
    </div>
}

@using (Html.BeginForm("MoveEquipment", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Move Equipment" class="btn btn-default" />
                </div>
            </div>
        </center>
    </div>
}

@* +++ Buttons +++ *@

@using (Html.BeginForm("RentEquipment", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Rent Equipment" class="btn btn-default" />
                </div>
            </div>
        </center>
    </div>
}

@using (Html.BeginForm("AddEquipment", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Add Equipment" class="btn btn-default" />
                </div>
            </div>
        </center>
    </div>
}

@using (Html.BeginForm("RemoveEquipment", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Remove Equipment" class="btn btn-default" />
                </div>
            </div>
        </center>
    </div>
}