@{
    ViewBag.Title = "Home Page";
}

@* Title*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div class="col-md-10">
                    <h5>@Html.Label("Welcome to the", new { style = "font-size:40px; color:##36e800" })</h5>
                    <h5>@Html.Label("Brookings Indoor Training System", new { style = "font-size:40px; color:#36e800" })</h5>
                </div>
            </div>
        </center>
    </div>

    <hr />

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div class="col-md-10">
                    <font size="4" face="helvetica" color="black">
                        <div>Select the Module you would like to go to</div>
                    </font>
                </div>
            </div>
        </center>
    </div>
}

@* +++ Buttons +++ *@
@using (Html.BeginForm("EquipmentView", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Equipment Manager" class="btn btn-default" />
                </div>
            </div>
        </center>
    </div>
}

@using (Html.BeginForm("SpaceView", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Space Scheduler" class="btn btn-default" />
                </div>
            </div>
        </center>
    </div>
}

@using (Html.BeginForm("ConcessionsView", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Concessions Manager" class="btn btn-default" />
                </div>
            </div>
        </center>
    </div>
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Funds Manager" class="btn btn-default" />
                </div>
            </div>
        </center>
    </div>
}
@* +++ Buttons +++ *@