@model List<BrookingsIndoorTrainingSystem.Models.ScheduleModel>
    <html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>

        @* -------------------- Funds Chart ---------------------- *@
        @using (Html.BeginForm("FundsView", "Home", FormMethod.Post))
        {
            <h3>Click the account amount to update funds</h3>

            <table style="width:100%">
                <tr style="font-size: 25px;">
                    <th style="font-size: 25px;">Dates   </th>
                    <th style="font-size: 25px;">Monday   </th>
                    <th style="font-size: 25px;">Tuesday   </th>
                    <th style="font-size: 25px;">Wednesday   </th>
                    <th style="font-size: 25px;">Thurday    </th>
                    <th style="font-size: 25px;">Friday   </th>
                    <th style="font-size: 25px;">Saturday   </th>

                </tr>

                <br />



                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Dates</td>
                        <td>@Html.ActionLink(item.Monday, "ScheduleUpdateEmployee", "Home", new { employee = item.Monday }, null)</td>
                        <td>@Html.ActionLink(item.Tuesday, "ScheduleUpdateEmployee", "Home", new { employee = item.Tuesday }, null)</td>
                        <td>@Html.ActionLink(item.Wednesday, "ScheduleUpdateEmployee", "Home", new { employee = item.Wednesday }, null)</td>
                        <td>@Html.ActionLink(item.Thursday, "ScheduleUpdateEmployee", "Home", new { employee = item.Thursday }, null)</td>
                        <td>@Html.ActionLink(item.Friday, "ScheduleUpdateEmployee", "Home", new { employee = item.Friday }, null)</td>
                        <td>@Html.ActionLink(item.Saturday, "ScheduleUpdateEmployee", "Home", new { employee = item.Saturday }, null)</td>
                
                    </tr>
                 }


                


                </table>
        }

