@model List<BrookingsIndoorTrainingSystem.Models.ScheduleModel>
    <html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>

        @* -------------------- Funds Chart ---------------------- *@
        @using (Html.BeginForm("FundsView", "Home", FormMethod.Post))
        {
            <h3>Click the account amount to update funds</h3>

            <table style="width:100%">
                <tr style="font-size: 25px;">
                    <th style="font-size: 25px;">Dates   </th>
                    <th style="font-size: 25px;">Monday   </th>
                    <th style="font-size: 25px;">Tuesday   </th>
                    <th style="font-size: 25px;">Wednesday   </th>
                    <th style="font-size: 25px;">Thurday    </th>
                    <th style="font-size: 25px;">Friday   </th>
                    <th style="font-size: 25px;">Saturday   </th>

                </tr>

                <br />



                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(item.Dates,  "ScheduleUpdateEmployeeView", "Home", new { Id = item.Id, Dates = item.Dates, Monday = item.Tuesday, Tuesday = item.Tuesday, Wednesday = item.Wednesday, Thursday = item.Thursday, Friday = item.Friday, Saturday = item.Saturday}, null)</td>
                        <td>@item.Monday</td>
                        <td>@item.Tuesday</td>
                        <td>@item.Wednesday</td>
                        <td>@item.Thursday</td>
                        <td>@item.Friday</td>
                        <td>@item.Saturday</td>
                    </tr>
                 }


                


                </table>
        }

