@{ ViewBag.Title = "Space Page"; }

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div class="col-md-10">
                    <h5>@Html.Label("Space Manager", new { style = "font-size:40px; color:##36e800" })</h5>
                </div>
            </div>
        </center>
    </div>

    <hr />

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div class="col-md-10">
                    <font size="4" face="helvetica" color="black">
                        <div>This is the Space Manager Page</div>
                    </font>
                </div>
            </div>
        </center>
    </div>
}

@using (Html.BeginForm("SpaceSoccerView", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Soccer Field" class="btn btn-default" />
                </div>
            </div>
        </center>
    </div>
}

@using (Html.BeginForm("SpaceTrackView", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Track" class="btn btn-default" />
                </div>
            </div>
        </center>
    </div>
}

@using (Html.BeginForm("SpaceBCView", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <center>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Batting Cage" class="btn btn-default" />
                </div>
            </div>
        </center>
    </div>
}